* {
    padding :0;
    margin : 0;
    box-sizing: border-box;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    display : grid;
    justify-content: center;
    align-items: center;
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.div{
    width: 250px;
    height: 100px;
    border-radius: 10px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    padding-bottom: 10px;
    
}

p{

}